main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 65px;
  background: var(--secondary);
  color: var(--tertiary);
}

header h1 {
  padding-top: 12px;
  text-align: center;
  font-weight: 700;
}

footer {
  height: 45px;
  background: var(--secondary);
  color: var(--tertiary);
}

footer p {
  text-align: center;
  padding-top: 11px;
}

.markdown-container {
  flex: 1;
  background: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.markdown-preview, .markdown-input {
  margin: 20px; 
  min-width: 400px;
  width: 45%;
  border: 3px solid var(--secondary);
  background: none;
  color: var(--tertiary);
  padding: 15px;
  font-family: inherit;
  font-size: 20px;
  overflow: scroll;
}

.markdown-input:focus {
  outline: none;
}
