@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto Mono', monospace;
  --primary: #0d1117; /* background-color for Main component */
  --secondary: #161b22; /* background-color for header & footer */
  --tertiary: #ede9e8; /* background-color for input field and color of header & footer */
  --quartery: #58a6ff; /* highlight color */
}
